<ActionBar>
    <GridLayout columns="*,auto">
        <StackLayout col="0" orientation="horizontal">
            <Image src="res://img/logosm" width="40"></Image>
            <Label text=" Locust Hill Farm" class="action-label"></Label>            
        </StackLayout>
        <Label col="1" text="{{ (batteryLevelIcon | fonticon) + ' ' + (batteryLevel | number: '1.0-0') + '%' }}" class="fa action-label battery"></Label>
    </GridLayout>
</ActionBar>
<GridLayout rows="*,auto">
    <PullToRefresh row="0" (refresh)="refresh($event)"> 
        <ScrollView>
            <StackLayout>
                <ns-temperature-widget></ns-temperature-widget>
                <ns-humidity-widget></ns-humidity-widget>
                <ns-pressure-widget></ns-pressure-widget>
                <ns-soil-temperature-widget></ns-soil-temperature-widget>
                <ns-soil-moisture-widget></ns-soil-moisture-widget>
                <ns-wind-widget></ns-wind-widget>
                <ns-rain-widget></ns-rain-widget>
            </StackLayout>
        </ScrollView>
    </PullToRefresh>
    <StackLayout #footer row="1" orientation="horizontal" class="footer">
        <Label text="{{ 'Last updated ' + (lastUpdated | date:'M/d/yyyy') + ' at ' + (lastUpdated | date:'h:mm a') }}"></Label>
    </StackLayout>
</GridLayout>
