ActionBar {
    color: white;
    margin-right: 15;
}

PullToRefresh {
    color: white;
}

.battery {
    text-align: right;
}

.footer {
    color: white;
    padding-left: 15;
    padding-right: 15;
    height: 50;
}