.wrapper {
    margin-top: 20;
    margin-bottom: 20;
}

Label {
    text-align: center;
    color: white;
    font-family: HelveticaNeueUltraLight, Helvetica Neue LT Pro;
}

.heading {
    font-size: 32;
}

.value, 
.valueDecorator {
    font-size: 80;
    margin-top: 15;
}

.valueDecorator {
    font-size: 22;
}