<StackLayout>
    <RadCartesianChart tkExampleTitle tkToggleNavButton height="200">
        <DateTimeContinuousAxis tkCartesianHorizontalAxis 
            majorStep="Hour"
            [minimum]="minRange" [maximum]="maxRange" >
        </DateTimeContinuousAxis>
        <LinearAxis tkCartesianVerticalAxis></LinearAxis>
        <SplineSeries tkCartesianSeries [items]="windSource" categoryProperty="PublishDate" valueProperty="WindSpeedMPH"></SplineSeries>
    </RadCartesianChart>
    <Label text="Last reading on {{ LastUpdatedDate | date:'EEE MMM d h:mm a' }}"></Label>
    <Label text="{{ WindSpeed }} MPH"></Label>
</StackLayout>